body{
    margin: 0px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

h2{
    color:black;

}
h3{
    color: #87CEEB;
}
.text-center{
    text-align: center;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;
}
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
    
}
#navbar ul{
    padding-inline-start: 0px; 
    list-style-type:none;
    display: flex;
    align-items: center; 
}
#navbar ul li a{
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    
}
#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 4px;
}

/* Anasayfa */
#home{
    padding-top: 70px;
}
#home article ul li{
    list-style-position: inside
}


/* Products */

#products{
    color: #333;
    pad: 1rem;
    padding-top: 70px;
}
.products{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.products .product{
    display: flex;
    pad: 0.5rem;
    margin-bottom: 5rem;
}
.products .product .product-image{
    margin-right: 0.5rem;
    position: relative;
}
.products .product .product-image img{
    width: 500px;
    height: 179px;
}
.products .product .product-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.75rem;
}
.products .product .product-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.75rem;
}
.products .product .product-info .price{
    font-size: 1.5rem;
    font-weight: 700;
    color:red;
    margin-bottom: 0.75rem;
}
.products .product .product-info .installment{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.products .product .product-info .installment span{
    font-size: 1.5rem;
    font-weight: 700;
}

/* Buttons */

.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}
.btn-primary{
    background: #336ea2;
}
.btn-primary:hover{
    color: #336ea2;
    background: #fff;
    border: 0.5px solid #336ea2;
}
.btn-block{
    width: 100%;
    text-align: center;
}

.products .product .product-info .btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color:#fff;
}
.products .product .product-info .btn-primary{
    background: #87CEEB;
}
.products .product .product-info .btn-primary:hover{
    color: #87CEEB;
    background: #fff;
    border: 0.5px solid #87CEEB;
}
.btn-block{
    width: 100%;
    text-align: center;
}

/*Colors*/

.bg-dark-blue{
    background: #062e51;
}
.bg-light-blue{
    background: #336ea2;
}

/* About-Us */

#about-us{
    padding-top: 70px;
}

/* Contact */

.form-group{
    padding: 0.25rem 0;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}
#contact{
    color: #fff;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
}
#contact .contact-form ul li a:hover{
    opacity: 0.8;
}
